{{- if .Values.csi.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "task-manager.fullname" . }}-secrets
  labels:
    {{- include "task-manager.labels" . | nindent 4 }}
spec:
  provider: gke
  parameters:
    secrets: |-
      - resourceName: projects/{{ .Values.gcp.projectId }}/secrets/{{ .Values.secrets.databaseUrlSecretName }}/versions/latest
        path: DATABASE_URL
      - resourceName: projects/{{ .Values.gcp.projectId }}/secrets/{{ .Values.secrets.jwtSecretSecretName }}/versions/latest
        path: JWT_HS256_SECRET
  secretObjects:
  - secretName: {{ include "task-manager.fullname" . }}-secrets
    type: Opaque
    data:
    - objectName: DATABASE_URL
      key: DATABASE_URL
    - objectName: JWT_HS256_SECRET
      key: JWT_HS256_SECRET
{{- end }}