name: Terraform CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        env: [dev]

    steps:
      - uses: actions/checkout@v3

      - id: auth
        uses: google-github-actions/auth@v2.0.0
        with:
          workload_identity_provider: 'projects/688861612302/locations/global/workloadIdentityPools/team5-wif-dev/providers/github'
          service_account: 'team5-sa-dev@iaasepitech.iam.gserviceaccount.com'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Init Terraform
        working-directory: terraform
        run: terraform init -backend-config=../backends/${{ matrix.env }}.config

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -var-file=env/${{ matrix.env }}.tfvars

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve -var-file=env/${{ matrix.env }}.tfvars

